
.background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
}

.search-card {
  position: relative;
  width: 423.1px;
  background: white;
  border-radius: 24px;

  padding: 52px
}


.trip-toggle {
  position: absolute;
  top: 0px;          
  left: 0px;        
  right: 0px;         
  margin-bottom: 10px;
  
  background: #fff;
  border-radius: 999px;

  display: flex;
  gap: 6px;

  
}


.trip-toggle button {
  flex: 1;
  border: none;
  background: #f0f0f0;      /* ⬅ non-active */
  padding: 10px 0;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
}


.trip-toggle button.active {
  background: #ffffff;
  position: relative;
  z-index: 2;
}

.trip-toggle button:first-child.deactive{
    border-radius: 0 100px 100px 0;
}

.trip-toggle button:last-child.deactive{
    border-radius: 100px 0 0 100px;
}


/* FORM */
.form {
  display: flex;
  width: 423 px;
  align-items: center;
  left: 0;
  flex-direction: column;
  gap: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  width: 100%;
}


.field label {
  font-size: 12px;
  font-weight: 600;
  color: #000;

  text-align: left;        
  align-self: flex-start;  
  margin-left: 8px;        
}


.field input {
  background: #eee;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 999px;
  outline: none;
  box-sizing: border-box;
}

/* DATE GRID */
.date-row {
  display: grid;
  gap: 12px;
  transition: all .3s ease;
}

.date-row.oneway {
    width: 100%;
  grid-template-columns: 1fr;
}

.date-row.roundtrip {
  grid-template-columns: 0.1fr 0.1fr;
}

/* BUTTON */
.search-btn {
  margin-top: 8px;
  padding: 14px;
  border-radius: 999px;
  border: none;
  background: #333;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-wrapper img {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  opacity: 0.6;
  pointer-events: none;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 12px 12px 44px; /* ruang icon */
  border-radius: 999px;
  border: none;
  background: #eee;
  outline: none;
  font-size: 14px;
}



